<!doctype html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta charset="utf-8" />
  {{#if representativeImagePath}}
  <link rel="image_src" href="{{representativeImagePath}}">
  {{/if}}
</head>
<body>
  {{{body}}}
</body>
</html>
