* {
  margin: 0;
  padding: 0;
}
.photosGroupView {
  width: 380px;
  line-height: 0;
}
.photosGroupView > .image {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.photosGroupView > .image.full {
  width: 380px;
  height: 253px;
}
.photosGroupView > .image.row {
  height: 126px;
}
.timelineView {
  margin: 0 auto;
  width: 380px;
}
.timelineView > .photosGroupView {
  margin: 50px 0;
}
