vendor(prop, args)
  -webkit-{prop}: args
  -moz-{prop}: args
  -ms-{prop}: args
  -o-{prop}: args
  {prop}: args

transition()
  vendor('transition', arguments)

transition-delay()
  vendor('transition-delay', arguments)

transform-origin()
  vendor('transform-origin', arguments)

transform(tr)
  vendor('transform', arguments)

user-select()
  vendor('user-select', arguments)

box-sizing()
  vendor('box-sizing', arguments)
