.fullscreenView {
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: 10
  cursor: pointer
  -webkit-tap-highlight-color: rgba(0,0,0,0)

  > .backgroundView {
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background: rgb(20, 20, 20)
    transform: translateZ(0)
  }

  > .imageView {
    position: absolute
    display: block
  }
}
