.imageView {
  background-repeat: no-repeat
  background-size: contain
  background-position: center center
  position: relative
  overflow: hidden

  > .svg {
    position: absolute
    top: 0
    left: 0
    width: 101%
    height: 101%
  }

  > .cover {
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: #4b4b4b
  }
}
