.modalView {
  position: absolute
  top: 20px
  left: 20px
  right: 20px
  bottom: 20px
  border-radius: 15px
  background: #FFF
  box-shadow: 0 1px 5px rgba(0,0,0,.5)
  -webkit-overflow-scrolling: touch
}
