@import "../mixins.styl"

.photosGroupView {
  width: 100%
  line-height: 0

  > h2 {
    display: none
  }

  > .imageView {
    display: inline-block
    transform: translateZ(0px)
    cursor: pointer
    -webkit-tap-highlight-color: rgba(0,0,0,0)
    background-color: rgba(0, 0, 0, .2)
    transition: background-color .2s linear

    &.loaded {
      background-color: transparent
    }

    &.full {
      width: 100%
      margin-bottom: 7px
    }

    &.row {
      margin-bottom: 7px
      &:not(:last-child) {
        margin-right: 7px
      }
    }
  }
}

@media all and (max-width: 750px) {
  .photosGroupView {
    > h2 {
      display: block
      font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica-Neue-Light", "Helvetica", Arial, sans-serif
      font-size: 18px
      font-weight: normal
      cursor: default
      color: #565656
      position: relative
      top: -12px

      > span {
        float: right
        font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica-Neue-Light", "Helvetica", Arial, sans-serif
        font-size: 11px
        color: #565656
        padding-top: 3px
      }
    }
  }
}
