.photosGroupView {
  width: 380px
  line-height: 0

  > .image {
    display: inline-block
    background-repeat: no-repeat
    background-size: cover
    background-position: center center

    &.full {
      width: 380px
      height: 253px
    }

    &.row {
      height: 126px
    }
  }
}
