@import "../mixins.styl"

.photosGroupView {
  width: 100%
  line-height: 0

  > .imageView {
    display: inline-block
    transform: translateZ(0px)

    &.full {
      width: 100%
      margin-bottom: 7px
    }

    &.row {
      margin-bottom: 7px
      &:not(:last-child) {
        margin-right: 7px
      }
    }
  }
}
