.photosGroupsView {
  margin-top: 45px
  will-change: transform

  > .photosGroupView {
    margin-bottom: 53px
  }
}

@media all and (max-width: 750px) {
  .photosGroupsView {
    margin-top: 30px

    > .photosGroupView {
     margin-bottom: 35px
    }
  }
}
