@import "../mixins.styl"

.timelineView {
  width: 200px
  background: #fff

  > .curvedLinesCanvas {
    position: absolute
    top: 0
    right: -82px
    height: 100%
    width: 95px
    background: white
  }

  > .verticalLineView {
    position: absolute
    display: block
    top: 18px
    left: 187px
    height: calc(200% - 36px)
    width: 1px
    background: #B0B0B0
    transform: scale(.5) translateZ(0px)
    transform-origin: 0 0
  }

  > .containerView {
    position: absolute

    > a,
    > .yearView {
      position: relative
      display: block
      width: 100%
      box-sizing: border-box
      text-align: right
      height: 36px
      line-height: 36px
    }

    > .yearView {
      color: #B0B0B0
      font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica-Neue-Light", "Helvetica", Arial, sans-serif
      font-size: 18px
      padding-right: 31px
      transform: translateZ(0px)
    }

    > a {
      cursor: pointer
      color: #565656

      > span {
        display: inline-block
        vertical-align: top
        transform: scale(.5) translateZ(0px)
        transition: all .15s ease-in-out
      }

      > .textView {
        font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica-Neue-Light", "Helvetica", Arial, sans-serif
        transform-origin: 100% 50%
        font-size: 36px
        width: 200%
        margin-left: -200%
      }

      > .dateView {
        position: absolute
        width: 200px
        right: 31px
        left: auto
        top: 13px
        transform: none
        font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica-Neue-Light", "Helvetica", Arial, sans-serif
        font-size: 11px
        color: #0091FF
        opacity: 0
        transform-origin: 100% 50%
        transform: scale(.75) translateY(-7px) translateZ(0px)
      }

      > .circleView {
        width: 19px
        height: 19px
        border-radius: 19px
        border: 3px solid #565656
        background: #fff
        margin-top: 7px
        margin-left: 6px
      }

      &:hover {
        > .textView {
          color: #000
          transform: scale(.55) translateZ(0px)
        }

        > .circleView {
          border-color: #000
          transform: scale(.55) translateZ(0px)
        }
      }

      &.selected {
        > .textView {
          color: #0091FF
          transform: scale(.75) translateY(-7px) translateZ(0px)
        }

        > .dateView {
          opacity: 1
          transform: none
        }

        > .circleView {
          border-color: #0091FF
          transform: scale(.75) translateZ(0px)
        }
      }
    }
  }
}
